<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main}, 'coursesList', 'Курсы')}">
<main>
    <input type="hidden" id="min_price" th:value="${minCoursePrice}">
    <input type="hidden" id="max_price" th:value="${maxCoursePrice}">
    <input type="hidden" id="current_page">
    <input type="hidden" id="user_minimum_price" th:value="${!#lists.isEmpty(userCoursePrice)} ? ${userCoursePrice[0]} : ${minCoursePrice}">
    <input type="hidden" id="user_maximum_price" th:value="${!#lists.isEmpty(userCoursePrice)} ? ${userCoursePrice[1]} : ${maxCoursePrice}">
       
    <div class="filtres" id="filters">

        <div class="accordion" id="accordionExample">

            <th:block th:replace="~{fragments/courseFilterPrice :: courseFilterPrice ('Цена', 'price', ${minCoursePrice}, ${maxCoursePrice}, ${userCoursePrice})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Сфера обучения', 'course_field', ${courseField}, ${appliedFilters})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Форма обучения', 'course_form', ${courseForm}, ${appliedFilters})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Площадка', 'course_study_location', ${courseStudyLocation}, ${appliedFilters})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Для кого', 'course_target_entity', ${courseTargetEntity}, ${appliedFilters})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Вид обучения', 'course_type', ${courseType}, ${appliedFilters})}"></th:block>

            <th:block th:replace="~{fragments/courseFilter :: courseFilter ('Формируемые компетенции', 'course_competency', ${courseCompetency}, ${appliedFilters})}"></th:block>

        </div>
        <button type="submit" class="btn button_uncheck_all_inputs" id="button_uncheck_all_inputs" name="submit">Сбросить фильтры</button>
    </div>
	
	
	<div class="accordion mobile" id="accordionExample mobile_filters">
	  <div class="card">
		<div class="card-header card-header-mobile" id="headingMobile">
		  <h2 class="mb-0">
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMobile" aria-expanded="true" aria-controls="collapseMobile">
			 
			  Фильтры
			   <img th:src="@{/resources/image/icons/arrow.png}"  style="width: 15px;">
			</button>
		  </h2>
		</div>

		<div id="collapseMobile" class="collapse" aria-labelledby="headingMobile" data-parent="#accordionExample">
			<div class="card-body">
				<div class="filtres filtres_mobile">		
					<div class="accordion" id="accordionExample">
						<th:block th:replace="~{fragments/courseFilterPriceMobile :: courseFilterPriceMobile('Цена', 'price', ${minCoursePrice}, ${maxCoursePrice}, ${userCoursePrice})}"></th:block>
						  
						<th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Сфера обучения', 'course_field', ${courseField}, ${appliedFilters})}"></th:block>

                                                <th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Форма обучения', 'course_form', ${courseForm}, ${appliedFilters})}"></th:block>

                                                <th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Площадка', 'course_study_location', ${courseStudyLocation}, ${appliedFilters})}"></th:block>

                                                <th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Для кого', 'course_target_entity', ${courseTargetEntity}, ${appliedFilters})}"></th:block>

                                                <th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Вид обучения', 'course_type', ${courseType}, ${appliedFilters})}"></th:block>

                                                <th:block th:replace="~{fragments/courseFilterMobile :: courseFilterMobile ('Формируемые компетенции', 'course_competency', ${courseCompetency}, ${appliedFilters})}"></th:block>
					</div>
					<button type="submit" class="btn button_uncheck_all_inputs" data-toggle="collapse" data-target="#collapseMobile" aria-expanded="true" aria-controls="collapseMobile">Закрыть</button>
					<button type="submit" class="btn button_uncheck_all_inputs" id="button_uncheck_all_inputs_mobile" name="submit">Сбросить</button>
				</div>
			</div>
		</div>
	  </div>
	</div>
	
	 

    <div class="courses filter_loading" id="pagination_data">
        <th:block th:replace="~{fragments/courseFilterList :: courseFilterList (${courses}, ${appliedFilters}, ${userCoursePrice})}"></th:block>
    </div>
</main>

</html>