<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/adminLayout :: adminLayout (~{::main},'userFeedBackList')}">
    
<main>
    <div class="container">
        <h1 class="text-center">Заявки</h1>          
    </div>
            
    <table class="table">
        <thead>
        <tr class="d-flex justify-content-around">
            <td class="col-2">Имя пользователя</td>
            <td class="col-2">Телефон</td>
            <td class="col-2">Email</td>
            <td class="col-2">Название курса</td>
            <td class="col-3">Вопрос</td>
            <td class="col-1"></td>
        </tr>
        </thead>
        <tbody class="filter_loading">   
            <tr class="d-flex justify-content-around" th:object="${userFeedBackItem}" th:each="userFeedBackItem : ${userFeedBack}">
                <th th:text="*{fullName}" class="col-2"></th>
                <td th:text="*{phone}" class="col-2"></td>
                <td th:text="*{email}"  class="col-2">></td>
                <td th:text="*{courseTitle}"  class="col-2"></td>
                <td th:text="*{question}"  class="col-3"></td>
                <td class="col-1">
                    <button class="col-4 btn btn-outline-danger" 
                            th:onclick="|userFeedBack.deleteUserFeedBackItem(event, *{id})|">X</button>
                </td>
            </tr>
        
        </tbody>
    </table>
</main>

</html>