<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/adminLayout :: adminLayout (~{::main},'courses')}">
    
<main>
    <div class="container">
        <h1 class="text-center">Курс</h1>
        <h2 class="text-center"><a th:href="@{courses/new}">Создать курс</a></h2>
        
        
    </div>
            
    <table class="table">
        <thead>
        <tr class="d-flex justify-content-around">
            <td class="col-2">Заголовок</td>
            <td class="col-4">Цель</td>
            <td class="col-3">Вид курса</td>
            <td class="col-1">Дата начала</td>
            <td class="col-2">Статус</td>
        </tr>
        </thead>
        <tbody class="filter_loading">            
            <tr class="d-flex justify-content-around" th:each="course : ${courses}">
                <th class="col-2">
                    <a th:text="${course.title}" th:href="@{courses/update/} + ${course.id}">
                    </a>
                </th>
                <td th:text="${course.courseGoal}" class="col-4"></td>
<!--                <td  th:text="${course.courseForm}" class="col-3">></td>-->
                <td  th:text="'Форма курса'" class="col-3">></td>
                <td th:text="${course.createdAt}" class="col-1"></td>
                <!--<td th:text="${course.courseStatus}"class="col-2"></td>-->
                <td th:text="'Статус курса'" class="col-2"></td>
            </tr>
        </tbody>
    </table>
</main>

</html>