<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main}, 'calendarList', 'Календарь')}">
<main>
    <h1 style="margin: 20px; font-family: GilroyBold;">Идет набор на курсы</h1>
        <div class="calendar">
            <th:block th:replace="~{fragments/nearestCourses :: nearestCourses(${courses})}"></th:block>
        </div>    
        <th:block th:if="${courses.getTotalPages() > 1}">
            <th:block th:each="pageNumber : ${#numbers.sequence( 0, courses.getTotalPages() - 1)}">
                <a th:href="@{/calendar?page={page}(page=${pageNumber})}" th:id="${pageNumber}" th:class="${'pagination_link' + (courses.getPageable().getPageNumber() == pageNumber ? ' checked' : '')}">[[${pageNumber} + 1]]</a>
            </th:block>
        </th:block>    
</main>

</html>