<header th:fragment="header(page)">
    <div class="header">
        <a href="/"><div class='logo'>
             
            <img th:if="${page != 'home'}" th:src="@{/resources/image/logo_black.png}">
            <div>
                <p>Дополнительное профессиональное образование</p>
                <p>Московский Политех</p>
            </div>
            
        </div></a>
        <div class="contacts_vk_header">
            <p>+7 (495) 223-05-21</p>
        </div>
        <ul class="menu">
            <p>+7 (495) 223-05-21, <a href="mailto:dpo@mospolytech.ru">dpo@mospolytech.ru</a></p>
            <li><a href="/courses">Каталог программ</a></li>
            <li><a href="/calendar">Календарь обучения</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/news">Новости</a></li>
            <!--<li><a href="/signin" class="signin">Записаться</a></li>-->
            <li><a href="/contacts">Контакты</a></li>
        </ul>

        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="/">Главная</a></li>
                    <li class="pushy-link"><a href="/courses">Каталог программ</a></li>
                    <li class="pushy-link"><a href="/calendar">Календарь обучения</a></li>
                    <li class="pushy-link"><a href="/about">О нас</a></li>
                    <li class="pushy-link"><a href="/news">Новости</a></li>
                    <!--<li class="pushy-link"><a href="/signin">Записаться</a></li>-->
                    <li class="pushy-link"><a href="/contacts">Контакты</a></li>
                    <li><a href="/bank_documents">Банковские реквизиты</a></li>
                </ul>
            </div>
        </nav>
        <a class="menu-btn">&#9776;</a>

    </div>
    <div th:if="${page == 'home'}" class="header_text">
        <h1>Повысьте свои компетенции и станьте профессионалом в своём деле</h1>
        <p></p>
        <div><a  href="/courses">Подобрать курс</a></div>
    </div>
    
    <div th:if="${page != 'home'}" class="stripe"></div>   
</header>