<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main})}">
<main>
   <div class="popular_blocks">
        <h1>Популярные сферы обучения</h1>
        <div class="popular_courses">
        </div>
    </div>

    <div class="innumbers">
        <h1>Мы в цифрах</h1>
        <div class="innumbers_blocks"> 

        </div>
    </div>

    <div class="whyimportant">
        <div>
           <h1>Почему важно повышать квалификацию?</h1>
           <ul>
                <li>Потребность в квалифицированных специалистах</li>
                <li>Карьерный рост в своей профессиональной сфере</li>
                <li>Развитие и совершенствование навыков</li>
            </ul>
        </div>
        <!--<img src="<?= $themePath ?>/img/career1.png">-->
    </div> 

    <div class="nextcourses">
        <h1>Идет набор на курсы</h1>
        <div class="calendar">

        </div>
        <div class="calendar_btn_div">
            <a href="/calendar" class="calendar_btn">Календарь обучения</a>
        </div>
    </div>

        <a id="success"></a>

</main>

</html>