<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main}, 'home', 'Главная')}">
<main>
   <div class="popular_blocks">
        <h1>Курсы и программы обучения</h1>
        <div class="popular_courses">
            <a th:each="item :${indexItems}" th:href="@{${item.url}}">
                <div>
                    <img th:src="${item.indexImage} ? ${item.indexImage.name}: '/'" >
                    <p th:text="${item.text}"></p>
                </div>
            </a>
                        

        </div>
    </div>
    <div class="popular_blocks">
        <h1>Наши преимущества</h1>
        <div class="innumbers_blocks"> 
             <div class="row justify-content-around">
                <div class="col-3">
                        <img style="width: 110px;" th:src="@{/resources/image/first.png}">
                        <p class="number"><?= $number['number'] ?></p>
                        <p class="number_name">Обучение подставивается под ваш график</p>
                </div>
                <div class="col-3">
                        <img style="width: 110px;" th:src="@{/resources/image/second.png}">
                        <p class="number"></p>
                        <p class="number_name">Практические знания и актуальная теория</p>
                </div>
                <div class="col-3">
                        <img style="width: 110px;" th:src="@{/resources/image/third.png}">
                        <p class="number"></p>
                        <p class="number_name">Индивидуальные консультации с преподавателями</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="row  justify-content-around">
                <div class="col-3">
                    <img style="width: 110px;" th:src="@{/resources/image/fourth.png}">
                    <p class="number"><?= $number['number'] ?></p>
                    <p class="number_name">Общение с одногорупниками и полезные знакомства</p>
                </div>
                <div class="col-3">
                    <img style="width: 110px;" th:src="@{/resources/image/fifth.png}">
                    <p class="number"><?= $number['number'] ?></p>
                    <p class="number_name">Контроль процесса обучения и помощь в достижении результата</p>
                </div>
                <div class="col-3">
                    <img style="width: 110px;" th:src="@{/resources/image/sixth.png}">
                    <p class="number"><?= $number['number'] ?></p>
                    <p class="number_name">Официальные документы об образовании</p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="whyimportant">
        <div>
           <h1>Почему важно повышать квалификацию?</h1>
           <ul>
                <li>Потребность в квалифицированных специалистах</li>
                <li>Карьерный рост в своей профессиональной сфере</li>
                <li>Развитие и совершенствование навыков</li>
            </ul>
        </div>
        <!--<img src="<?= $themePath ?>/img/career1.png">-->
    </div> 

    <div class="nextcourses">
        <h1>Идет набор на курсы</h1>
        <div class="calendar">
            <th:block th:replace="~{fragments/nearestCourses :: nearestCourses(${courses})}"></th:block>
        </div>
        <div class="calendar_btn_div">
            <a href="/calendar" class="calendar_btn">Календарь обучения</a>
        </div>
    </div>

        <a id="success"></a>

        <div class="mainpage_registration_form" id="mainpage_registration_form">
        <h1>Остались вопросы?</h1>
            <div id="form_content">
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                <label for="fio">ФИО:</label>
                <input name="fio" type="text" class="form-control" id="fio_feedback" placeholder="Введите ФИО">
                <div class="valid-feedback">
                    Поле заполнено
                </div>
                <div class="invalid-feedback">
                    Заполните поле
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center flex-wrap">
                    <label for="email">Email:</label>
                    <input name="email" type="email" class="d-inline form-control" id="email_feedback" placeholder="Введите ваш email">
                    <div class="valid-feedback">
                        Поле заполнено
                    </div>
                    <div class="invalid-feedback">
                        Заполните поле
                    </div>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                    <label for="number">Телефон:</label>
                    <input name="number" type="telephone" class="form-control" id="number_feedback" placeholder="Введите ваш номер телефона">
                    <div class="valid-feedback">
                        Поле заполнено
                    </div>
                    <div class="invalid-feedback">
                        Заполните поле
                    </div>
            </div>
            <div class="mt-1 d-flex align-items-center justify-content-center flex-wrap">
                    <label for="question">Вопрос:</label>
                    <textarea name="question" type="text" class="d-inline form-control" id="question_feedback" placeholder="Задайте Ваш вопрос"></textarea>
                    <div class="valid-feedback">
                        Поле заполнено
                    </div>
                    <div class="invalid-feedback">
                        Заполните поле
                    </div>
            </div>

           <!-- <div class='d-flex justify-content-center mt-4'>
                <div class="g-recaptcha" id="captcha" data-sitekey="6LcSEIcUAAAAAOalkl-Cxwj4pVpRPO62kdri_sR0"></div>
            </div>-->

            <div class='d-flex justify-content-center'>
                    <div class="btn_mainpage_r_form">
                        <button onclick="index.sendMail(event)" name="button_request" class="btn">Отправить</button>
                    </div>
            </div>

            <div class="personal_agree">
                <p>Нажимая эту кнопку, Вы даете Московскому политехническому университету согласие на сбор и обработку Ваших персональных данных. Ознакомлен с Положением Московского Политеха об <a href="https://mospolytech.ru/storage/files/Polozhenie_v_otnoshenii_obrabotki_personalnyh_dannyh__(377893_v2_).pdf">обработке и защите персональных данных.</a></p>
            </div>
    </div>
        
</div>
</main>

</html>