<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/adminLayout :: adminLayout (~{::main},'news')}">
    
<main>
    <div class="container">
        <h1 class="text-center">Новости</h1>
        <h2 class="text-center"><a href="/admin/news/create/">Добавить новость</a></h2>
    </div>
    
    <table class="table">
        <thead>
        <tr>
            <td>Название</td>
            <td>Содержание</td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($news as $new): ?>
            <tr>
                <th>
                    <a href="/admin/news/edit/<?= $new['id'] ?>">
                         <?= $new['title'] ?>
                    </a>
                </th>
                <td><?= $new['content'] ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</main>

</html>