<th:block th:fragment="courseGallery(courseGalleryImages)">
    <th:block th:if="${not #lists.isEmpty(courseGalleryImages)}">
        <h1 class="text-center">Галерея</h1>
        <div class="row">
            <div th:each="galleryImage: ${courseGalleryImages}" class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" th:href="@{${galleryImage.name}}">
                <!--<a data-fancybox="gallery" th:href="@{'/img/courses/gallery/' + galleryImage.name">-->
                    <img class="img-fluid" th:src="${galleryImage.name}" alt="...">
                </a>
            </div>
        </div>
    </th:block>
</th:block>