<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main}, 'bankDocumentsPage', 'Банковские документы')}">
<main>
<h1>Банковские реквизиты</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="bold">Полное наименование:</td>
                <td>федеральное государственное бюджетное образовательное учреждение высшего образования «Московский политехнический университет»</td>
            </tr>
            <tr>
                <td class="bold">Краткое наименование:</td>
                <td>Московский Политех</td>
            </tr>
            <tr>
                <td class="bold">Получатель платежа (банковский реквизит):</td>
                <td>УФК по г. Москве (Московский Политех л/с 20736Е04980) - буква Е в номере счета – русская.
                    <br>«Политех» указывать с заглавной буквы</td>
            </tr>
            <tr>
                <td class="bold">Адрес:</td>
                <td>107023 г. Москва, ул. Большая Семеновская, д.38</td>
            </tr>
            <tr>
                <td class="bold">ОКТМО:</td>
                <td>45314000</td>
            </tr>
            <tr>
                <td class="bold">ОКАТО:</td>
                <td>45263588000</td>
            </tr>
            <tr>
                <td class="bold">ИНН:</td>
                <td>7719455553</td>
            </tr>
            <tr>
                <td class="bold">КПП:</td>
                <td>771901001</td>
            </tr>
            <tr>
                <td class="bold">ОГРН:</td>
                <td>1167746817810</td>
            </tr>
            <tr>
                <td class="bold">Расчетный счет:</td>
                <td>40501810845252000079</td>
            </tr>
            <tr>
                <td class="bold">КБК (код бюджетной классификации). Обязательно заполняется в платежном поручение в поле 104, или в назначении платежа):</td>
                <td>00000000000000000130 - платные образовательные услуги
                    <br>00000000000000000120 - аренда (в т.ч. НДС с аренды)
                    <br>00000000000000000140 – пени за просрочку оплаты обучения
                    <br>00000000000000000410 – возмещение за утерю книг</td>
            </tr>
            <tr>
                <td class="bold">Лицевой счет:</td>
                <td>20736Е04980 (примечание: буква Е в номере счета - русская)</td>
            </tr>
            <tr>
                <td class="bold">Банк:</td>
                <td>ГУ Банка России по ЦФО</td>
            </tr>
            <tr>
                <td class="bold">БИК:</td>
                <td>044525000</td>
            </tr>
            <tr>
                <td class="bold">ОКПО:</td>
                <td>04350607</td>
            </tr>
            <tr>
                <td class="bold">Ректор:</td>
                <td>Миклушевский Владимир Владимирович</td>
            </tr>
            <tr>
                <td class="bold">Главный бухгалтер:</td>
                <td>Бондарь Светлана Васильевна</td>
            </tr>
            <tr>
                <td class="bold">Телефон/факс бухгалтерия:</td>
                <td>(495) 223-05-23</td>
            </tr>
        </tbody>
    </table>

</main>
</html>