<th:block th:fragment="adminJs"><th:block th:switch="${page}">
    <th:block th:case="index">
        <script th:src="@{/resources/js/admin/index.js}"></script>
    </th:block>
    <th:block th:case="updateCourse">
        <script th:src="@{/webjars/croppie/2.6.3/croppie.min.js}"></script>
        <script th:src="@{/resources/js/admin/course.js}"></script>
    </th:block>
    <th:block th:case="coursesList">
        <script th:src="@{/resources/js/admin/courseAdd.js}"></script>
    </th:block>
    <th:block th:case="updateTeacher">
        <script th:src="@{/webjars/croppie/2.6.3/croppie.min.js}"></script>
        <script th:src="@{/resources/js/admin/teacher.js}"></script>
    </th:block>
    <th:block th:case="updateNews">
        <script th:src="@{/webjars/croppie/2.6.3/croppie.min.js}"></script>
        <script th:src="@{/resources/js/admin/news.js}"></script>
    </th:block>
    <th:block th:case="updateContact">
        <script th:src="@{/webjars/croppie/2.6.3/croppie.min.js}"></script>
        <script th:src="@{/resources/js/admin/contact.js}"></script>
    </th:block>
    <th:block th:case="teachersList">
        <script th:src="@{/resources/js/admin/teacherAdd.js}"></script>
    </th:block>
    <th:block th:case="newsList">
        <script th:src="@{/resources/js/admin/newsAdd.js}"></script>
    </th:block>
    <th:block th:case="contactsList">
        <script th:src="@{/resources/js/admin/contactAdd.js}"></script>
    </th:block>
    <th:block th:case="userFeedBackList">
        <script th:src="@{/resources/js/admin/userFeedBack.js}"></script>
    </th:block>
</th:block></th:block>